<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ff572819-3a45-4c33-8579-ae2c57a97f6c/resourceGroups/publishApi/providers/Microsoft.Web/sites/webbandt</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webbandt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>webbandt.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webbandt</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$webbandt</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ShopDTDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:xuanduzdbserver.database.windows.net,1433;Initial Catalog=QL_Dien_Thoai;User ID=xuanduz;Password=Nxd942k1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebDT.Models.EF.ShopDTDbContext, WebDT" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShopDTDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xuanduzdbserver.database.windows.net,1433;Initial Catalog=QL_Dien_Thoai;User ID=xuanduz;Password=Nxd942k1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>