:root {
  --yellow: #ffd200 !important;
  --gray: rgb(71, 71, 71) !important;
}
.wrapper {
  width: 1200px !important;
  margin: 0 auto;
}
.row {
  margin: 0 !important;
  padding: 0 !important;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-container {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
}
.login-header {
  width: 100%;
  height: 100px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  background-color: black;
}
.login-header img {
  height: 50px;
}
h1 {
  color: white !important;
}

h3 {
  margin: 20px 0 !important;
}
.login-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-content-form {
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 4px rgba(187, 187, 187, 0.788);
  position: relative;
}
.login-content-form p {
  padding-top: 10px;
}
.register {
  color: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/* ------ start footer------- */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  margin-top: 30px;
  padding: 20px;
}
.footer .wrapper {
  margin: 0 auto !important;
}
.footer li {
  margin: 5px 0;
}
.footer li span {
  font-weight: bold;
}
